html, img {image-rendering: -moz-crisp-edges}
a:link,a:visited,a:active,a:hover{text-decoration:none;font-weight:bold}
img {border:none}
pre br {display:none}
.fonts,.fontt,div.lastpost{font-size:10px}
body,.table,.font,.fonth,div.lastpost:first-line{font:13px verdana,geneva,sans-serif}
div.lastpost {white-space:nowrap}
.sparkline {display:none}
.left {text-align:left}
.center{text-align:center}
.right{text-align:right}
.nobr{white-space:nowrap}
.w,.table{width:100%}
.b{font-weight:bold !important}
.i{font-style:italic !important}
.vatop{vertical-align:top}
.buttonlink {border:none!important;font-weight:bold!important;padding:0px}
.table{empty-cells:show;border-spacing:0px}
code {overflow:auto;	width:100%;white-space:pre;display:block}
code br{display:none}
.pstspl1 {opacity:0}
.pstspl1:hover {opacity:1}
.pstspl2 {background:#000;color:#FFF;display:block}
textarea,input,select {
	border: 1px solid #000;
	background: #000;
	color: #EEE;
	font: 10pt monospace;
}
input[type=radio] {
	border: none;
}
input[type=submit] {
	border: #000 solid 2px;
	font: 10pt 'verdana', sans-serif;
}