# holdovers from Xkeeper0/jul
.rem/
.old/
board/
xkeeper/
version.txt

# It's a secret to everybody
lib/firewall.php

# No testboard stuff
# lib/config.php # nobody ended up updating config.sample.php
backups/*.zip

# Never cache the temp folder
temp/*
!temp/.htaccess