# holdovers from Xkeeper0/jul
.rem/
.old/
board/
xkeeper/

# It's a secret to everybody
lib/firewall.php

# Not necessary
shitbugs.php
library2.php
lib/hacks.php
images/ratings/lulz/*
install/lulzratings.sql

# No testboard stuff
lib/config.php
backups/*.zip
develop.sql
test/

# Attachments
attachments/*
!attachments/index.html
!attachments/t/index.html
!attachments/f/.htaccess

# Uploads
uploads/*
!uploads/index.html
!uploads/t/index.html
!uploads/f/.htaccess

#Userpics
userpic/*
!userpic/note.txt

# Custom sidebars
sidebars/*
!sidebars/index.html
!sidebars/.htaccess


# Never cache the temp folder
temp/*
!temp/.htaccess