# holdovers from Xkeeper0/jul
.rem/
.old/
board/
xkeeper/

# It's a secret to everybody
lib/firewall.php

# Not necessary
shitbugs.php
library2.php
lib/hacks.php

# No testboard stuff
lib/config.php
backups/*.zip
develop.sql

# Attachments
attachments/*
!attachments/index.html
!attachments/t/index.html
!attachments/f/.htaccess

#Userpics
userpic/*
!userpic/note.txt

# Never cache the temp folder
temp/*
!temp/.htaccess