# .htaccess magic, obviously not from me
# https://stackoverflow.com/questions/5469955/htaccess-url-rewrite-if-file-not-exists
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ pageloader.php [L]

ErrorDocument 403 /errors/403.php
ErrorDocument 404 /errors/404.php
ErrorDocument 500 /errors/500.php

Order Allow,Deny
Allow from all
