a,.buttonlink { color: #BEBAFE; }
a:visited,.buttonlink:visited { color: #9990c0; }
a:active,.buttonlink:active { color: #CFBEFF; }
a:hover,.buttonlink:hover { color: #CECAFE; }
body { 
	background: #013 !important;
	color: #DDD;
}
.table, body { font-family: 'verdana', sans-serif; }

.tdbg1 { background: #05375F; } /* tablebg1 */
.tdbg2 { background: #15426D; } /* tablebg2 */
.tdbgc { background: #0F265F; }
.tdbgh { 
	background: #0048B7 url("../images/header_shade.png") repeat-x bottom center;
	color: #FFF;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-shadow: 2px 2px 4px #000;
	font-family: 'verdana', sans-serif;
} 

.table, .tdbg1,.tdbg2,.tdbgc,.tdbgh	{ border: 1px solid #000; }
.fonts { font-family: 'verdana', sans-serif !important;}
.fontt { font-family: 'tahoma', serif; }

textarea, input, select, button, .button{
	border: 1px solid #000;
	background: #000;
	color: #EEE;
	font-family: monospace;
}
textarea:focus {
	border:	#000 solid 1px;
	background:#000000;
	color:	#EEE;
	font-family: monospace;
}
input[type=radio] {
	border:	none;
	background:none;
	color:	#EEE;
	font-family: monospace;
}
input[type=submit], input[type=button], button, .button{
	border: #000 solid 2px;
	font-family: 'verdana', sans-serif;
}
.button {color: #EEE !important;}

.attachment-box,.attachment-box-addnew  {
	border: #000 1px solid;
	background: #05375F;
}
.attachment-box:hover,.attachment-box-addnew :hover{
	background: #0F265F !important;
}















