body{
	font-family: 		Verdana, Geneva, sans-serif;
	font-size: 			13px;
	color:				#fff;
	background: 		#000 url('spec-news/bg.png') repeat-x fixed top -2px left -6px;
}

.table{
	border-spacing: 	0px;
	border:				2px solid rgba(50,50,100, 0.8);
	border-radius:		4px;
	background:			rgba(16,16,16, 0.9);
}
.tdbgh{
	background:			rgba(42,42,84, 0.5);
}
.tdbg1{
	background:			rgba(47,47,47, 0.2);
	border-radius:		6px;
}
.tdbg2{
	/*background:			rgba(16,16,16, 0.9);
	border-radius:		4px;*/
}

b,.b{
	color:			#fff !important;
}
b,.b,a,a:visited,a:active,a:hover{
	font-weight:bold;
	text-shadow: -1px -1px #000, 0px -1px #000, 1px -1px #000, 1px 0px #000, 1px 1px #000, 0px 1px #000, -1px 1px #000, -1px 0px #000;
}
a,a:visited,a:active,a:hover{
	text-decoration:none;
}
a:not(.button)			{color: #BEFEBA}
a:not(.button):visited	{color: #99c090}
a:not(.button):active	{color: #CFFFBE}
a:not(.button):hover	{color: #CEFECA}

textarea, input, select, button, .button {
	color:			#DDDDDD;
	border: 		1px solid #50B050;
	border-radius:	3px;
	background: 	#0C0C0C;
}
input[type=submit], input[type=button], button, .button {
	border: 		2px solid #60C060;
}


/* CUSTOM NEWS COMPONENTS */
.new-post{
	background:			rgba(06,06,30, 0.9);
	border:				2px solid rgba(100,100,200, 0.6) !important;
}
.headlink{
	color: 				#fff !important;
}
.comment-userbar{
	background:			rgba(32,32,64, 0.4);			
}

/**/
.news-container{
	padding:			5px;
	box-shadow:			20px 18px 8px rgba(0,0,12, 0.8);
}
.small-shadow{
	box-shadow:			9px 7px 2px rgba(0,0,8, 0.8);
}
.tag-links{
	background:			rgba(50,255,50, 0.2) !important;
	box-shadow:			0px 0px 3px #50FF50; /* Need a nice glow effect */
	text-shadow: 		none !important;
}

/*
	This is used by the header at the top
	We need to override the common CSS elements here
*/
.header-title{
	color: 				#eef !important;
	text-shadow: 		-1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444 !important;
}
.header-links a{
	color: 				#faa !important;
	font-weight:		normal !important;
	text-decoration:	underline !important;
	text-shadow: 		none !important;
}

.top-header{
	background:			rgba(32,32,32, 0.9);
	box-shadow:			0px 2px 16px 14px #000;
}

.header-title-td, .tdbgc{
	background:			rgba(47,47,47, 0.8);
}
.header-title-td{
	border-radius:		6px;	
}

/* post box */
.news-item-summary  .tdbg1, .news-item-summary  .tdbg2{
	border-radius: 0;
}